$prefix: "../../";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__gallery-img: 
    $prefix+"img/gallery/gallery-s1.jpg",
    $prefix+"img/gallery/gallery-s2.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__products-img: 
    $prefix+"img/products/products-s1.jpg",
    "",
    $prefix+"img/products/products-s3.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "gallery",
    "index",
    "login",
    "privacy",
    "products";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__gallery-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__products-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;